<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="discountSettings" type="System.Configuration.DictionarySectionHandler, System,Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <discountSettings>
    <add key="CIRCLE_K" value="10" />
    <add key="TELIA" value="10" />
  </discountSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="inputFileFolderName" value="Input"/>
    <add key="inputFileName" value="transactions.txt"/>
    <add key="feesPercentageOfTransactionsAmount" value="1"/>
    <add key="additionalFeeAmount" value="29"/>
  </appSettings>
</configuration>